Repository professor-greebie/SENG8080-2-field_project, pull requests merged in 2023-06, with the labels that each got.

#93 Issue #92
  README.md
Labels: In Progress

#95 Made changes in README. Added publickey in devops folder
  README.md
  devops/id_ecdsa_prutha.pub
Labels: devops

#102 Adding Jupyter notebook file to folder
  Data_Quality/dq_code.ipynb
Labels: data quality

#103 Adding Team members name to dataQuality folder
  Data_Quality/TeamMembers.txt
Labels: data quality
